section.cta .card-section {
    padding: 12px 12px 12px 42px;
}

section.cta p {
    font-size: 0.875rem;
    color: rgba(var(--light-color), 0.62);
}

section.cta .title {
    color: rgba(var(--light-color), 1);
}

section.cta img {
    width: 400px;
}
