section.product .button-arrow {
    width: 46px;
    height: 46px;
    border: 1px solid rgba(var(--dark-color), 1);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: transparent;
}

section.product .button-arrow:last-child {
    rotate: 180deg;
}

section.product .button-arrow:hover {
    border-color: rgba(var(--primary-color), 1);
    background-color: rgba(var(--primary-color), 1);
}

section.product .button-arrow .arrow-icon {
    width: 10px;
    height: 16px;
    background-image: url("../image/icon/arrow-left-dark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section.product .button-arrow:hover .arrow-icon {
    background-image: url("../image/icon/arrow-left-light.svg");
}

section.product .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: 50%;
    bottom: -42px !important;
    transform: translateX(-50%);
    display: flex;
}

section.product .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 3px !important;
    border-radius: 9999px !important;
    background-color: rgba(var(--dark-color), 0.62) !important;
}

section.product .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 30px !important;
    background-color: rgba(var(--primary-color), 1) !important;
}