section.blog .button-arrow {
    width: 46px;
    height: 46px;
    border: 1px solid rgba(var(--dark-color), 1);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: transparent;
}

section.blog .button-arrow:last-child {
    rotate: 180deg;
}

section.blog .button-arrow:hover {
    border-color: rgba(var(--primary-color), 1);
    background-color: rgba(var(--primary-color), 1);
}

section.blog .button-arrow .arrow-icon {
    width: 10px;
    height: 16px;
    background-image: url("../image/icon/arrow-left-dark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section.blog .button-arrow:hover .arrow-icon {
    background-image: url("../image/icon/arrow-left-light.svg");
}

section.blog .card-blog > img {
    border-radius: 8px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

section.blog .card-blog .content-title {
    font-size: 1.25rem;
    font-family: var(--urbanist-bold);
}

section.blog .card-blog .wrapper-other button {
    padding: 8px 12px;
    background-color: rgba(var(--primary-color), 1);
    border-radius: 9999px;
    font-size: 0.813rem;
    color: rgba(var(--light-color), 1);
    outline: none;
    border: none;
}

section.blog .card-blog .wrapper-other .button-date,
section.blog .card-blog .wrapper-other .button-message {
    font-size: 0.913rem;
    color: rgba(var(--dark-color), 0.62);
}

section.blog .card-blog .content-description {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.62);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

section.blog .card-blog .button-sosmed a {
    width: 36px;
    height: 36px;
    background-color: rgba(var(--light-color), 1);
    border-radius: 9999px;
    border: 1px solid transparent;
}

section.blog .card-blog .button-sosmed a:hover {
    border-color: rgba(var(--dark-color), 0.12);
}
